.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* align-content: center;
  justify-content: center; */
  height: 100%;
  box-sizing: border-box;
}

.inner {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-around;
}
