.hand {
  display: flex;
  height: 200px;
  width: 134px;
  position: relative;
  /* transform: rotate(42deg); */
}

.hand .item {
  position: absolute;
  /* transform-origin: center 400px; */
  /* left: 200px; */
}

/*
.hand .item:nth-child(1) {
  left: 0;
  transform: translate(1.9em, .9em) rotate(-42deg);
}

.hand .item:nth-child(2) {
  left: 1.1em;
  transform: translate(1.5em, .5em) rotate(-33deg);
}

.hand .item:nth-child(3) {
  left: 2.2em;
  transform: translate(1.1em, .3em) rotate(-24deg);
}

.hand .item:nth-child(4) {
  left: 3.3em;
  transform: translate(.7em, .2em) rotate(-15deg);
}

.hand .item:nth-child(5) {
  left: 4.4em;
  transform: translate(.3em, .1em) rotate(-6deg);
}

.hand .item:nth-child(6) {
  left: 5.5em;
  transform: translate(-.1em, .1em) rotate(3deg);
}

.hand .item:nth-child(7) {
  left: 6.6em;
  transform: translate(-.5em, .2em) rotate(12deg);
}

.hand .item:nth-child(8) {
  left: 7.7em;
  transform: translate(-.9em, .3em) rotate(21deg);

}

.hand .item:nth-child(9) {
  left: 8.8em;
  transform: translate(-1.3em, .6em) rotate(30deg);

}

.hand .item:nth-child(10) {
  left: 9.9em;
  transform: translate(-1.7em, 1em) rotate(39deg);

}

.hand .item:nth-child(11) {
  left: 11em;
  transform: translate(-2.2em, 1.5em) rotate(48deg);

}

.hand .item:nth-child(12) {
  left: 12.1em;
  transform: translate(-2.8em, 2.1em) rotate(57deg);

}

.hand .item:nth-child(13) {
  left: 13.2em;
  transform: translate(-3.5em, 2.8em) rotate(66deg);
} */
