.player {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  height: 400px;
}

.cards {
  display: flex;
}

.player-cards {
  @media only screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.next {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.hand,
.next {
  margin: 20px;
}

.has-hand .next {
  transform: scale(.7);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
